body{
font-family:Arial;
text-align:center;
background:#f5f6fa;
}

input,select{
padding:10px;
margin:5px;
}

button{
padding:8px 15px;
margin:5px;
cursor:pointer;
}

table{
margin:auto;
width:80%;
border-collapse:collapse;
background:white;
}

th{
background:#2f3640;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
}

.edit-btn{
background:#3498db;
color:white;
}

.delete-btn{
background:#e74c3c;
color:white;
}